<?xml version="1.0" encoding="utf-8"?>
<wimygit_plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Plugin.xsd">
  <version>1</version>
  <name>WindowsTerminal</name>
  <description>Open WindowsTerminal</description>
  <title>WindowsTerminal</title>
  <icon>
    <type>plugin_directory</type>
    <path>WindowsTerminal.png</path>
  </icon>
  <command>wt.exe</command>
  <arguments>
      <argument>
          <type>string</type>
          <value>-d</value>
      </argument>
      <argument>
          <type>repository_directory</type>
          <value></value>
      </argument>
  </arguments>
  <execution_type>WithoutShellAndNoWaiting</execution_type>
</wimygit_plugin>
